@page "/"
@rendermode InteractiveServer

@using CalculatorEngine
@code
{
    private double InputA;
    private double InputB;
    private CalculationResult? Result;
    private ICalculatorEngine _calculatorEngine = new CalculatorEngine.Calculator();
    

    private void CalculatorAdd()
    {
        Result = _calculatorEngine.Add(InputA, InputB);
    }

    private void CalculatorSubtract()
    {
        Result = _calculatorEngine.Subtract(InputA, InputB);
    }

    private void CalculatorMultiplication()
    {
        Result = _calculatorEngine.Multiplication(InputA, InputB);
    }

    private void CalculatorDivision()
    {
        Result = _calculatorEngine.Division(InputA, InputB);
    }

    private void CalculatorEquals()
    {
        Result = _calculatorEngine.Equals(InputA, InputB);
    }

    private void CalculatorPower()
    {
        Result = _calculatorEngine.Power(InputA, InputB);
    }

    private void CalculatorLogarithm()
    {
        Result = _calculatorEngine.Logarithm(InputA, InputB);
    }

    private void CalculatorRoot()
    {
        Result = _calculatorEngine.Root(InputA, InputB);
    }

    private void CalculatorFactorial()
    {
        Result = _calculatorEngine.Factorial(InputA);
    }

    private void CalculatorSine()
    {
        Result = _calculatorEngine.Sine(InputA);
    }

    private void CalculatorCosine()
    {
        Result = _calculatorEngine.Cosine(InputA);
    }

    private void CalculatorTangent()
    {
        Result = _calculatorEngine.Tangent(InputA);
    }

    private void CalculatorReciprocal()
    {
        Result = _calculatorEngine.Reciprocal(InputA);
    }

    private void Clear()
    {
        InputA = 0;
        InputB = 0;
        Result.Result = 0;
    }
}
<h3>Calculator</h3>
<button @onclick ="Clear">Clear</button>


<table id="Calcualtor">
    <tr>
        <th>Calculator</th>
        <td><button @onclick="Clear">Clear</button></td>
    </tr>
    
    <tr>
        <th colspan="2">
            Enter value(s) below and select an operation.
        </th>
    </tr>
    <tr>
        <th>Input A</th>
        <th>Input B</th>
    </tr>
    
    <tr>
        <td colspan="1">
            <input id="A" type="text" @bind="InputA"/>
        </td>
        <td colspan="1">
            <input id="B" type="text" @Bind="InputB"/>
        </td>
    </tr>
    
    <tr>
        <th>A and B</th>
        <th>A Only</th>
    </tr>
    
    <tr>
        <td><button @onclick="CalculatorAdd" class="button">A + B</button></td>
    </tr>
</table>

<div>
    
</div>


<div>
    <label for="A">Input A:</label>
    <input id="A" type="number" @bind="InputA" />
    
    <label for="B">Input B: </label>
    <input id="B" type="number" @bind="InputB" />
    
    <div>
        <label>A & B</label>
        <button @onclick="CalculatorAdd">A + B</button>
        <button @onclick="CalculatorSubtract">A - B</button>
        <button @onclick="CalculatorMultiplication">A x B</button>
        <button @onclick="CalculatorDivision">A / B</button>
        <button @onclick="CalculatorEquals">A == B</button>
        <button @onclick="CalculatorPower">A ^ B</button>
        <button @onclick="CalculatorLogarithm">A log B</button>
        <button @onclick="CalculatorRoot">A root B</button>
    </div>
    
    <div>
        <label>A Only</label>
        <button @onclick="CalculatorFactorial">A!</button>
        <button @onclick="CalculatorSine">Sin A</button>
        <button @onclick="CalculatorCosine">Cos A</button>
        <button @onclick="CalculatorTangent">Tan A</button>
        <button @onclick="CalculatorReciprocal">1 / A</button>
    </div>
</div>

@if (Result != null)
{
    <div>
        <h4>Result:</h4>
        <p>@Result.Result</p>
        @if (!Result.IsSuccess)
        {
            <p>Error: @Result.Error</p>
        }
    </div>
}