@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        
        <ErrorBoundary>
            <article class="content px-4">
                @Body
            </article>
        </ErrorBoundary>
    </main>
</div>
